.comments .message {
   color: #333333;
}

.comments .message h1 {
   margin-top: 0.5em;
   font-size: 150%;
   font-weight: bold;
   border-bottom: 1px solid #333333;
}

.comments .message blockquote {
   margin: 1em;
   padding: 0 1em 0 1em;
   border: 1px solid #333333;
}

.comments .message em {
   color: inherit ! important;
}

.unread {
   border-radius: 7px 7px 7px 7px;
   background-color: red;
   color: white;
   font-weight: bold;
   font-size: 10px;
   width: 14px;
   height: 14px;
   text-align: center;
   vertical-align: middle;
   display: inline-block;
   margin-top: -20px;
   margin-left: -14px;
   padding-top: 1px;
}
