body {
   background-color: #eeffee;
   font-family: sans-serif;
}

#footer
{
   margin: 0.5em 0;
   border: solid #404040 1px;
   border-style: solid none none none;
}

#footer a
{
   margin-right: 1em;
}

em, em a
{
   color: #ee5577 ! important;
}

h1, h2, h3, h4, h5, h6, h7
{
   margin-bottom: .5em;
}

h1#title
{
   font-size: 200%;
   margin-bottom: 0;
}

h2#subtitle
{
   font-size: 200%;
   margin-top: 0;
}

h2#institute
{
}

h5
{
   margin-top: 0;
}

a
{
   text-decoration: underline;
}

a:hover,
a:active
{
   text-decoration: none;
   outline-style: solid;
   outline-width: 1px;
}
a:link
{
   color: darkblue;
}
a:visited
{
   color: darkblue;
}
a:link:hover,
a:visited:hover
{
   background-color: #d0e0ff;
   outline-color: blue;
}
a:active
{
   color: red;
   outline-color: red ! important;
   background-color: #ffe0e0 ! important;
}

table {
   margin: 1em 0 0 0;
   width: 100%;
}
th, td {
   padding: .5em;
   vertical-align: bottom;
}

th {
   background-color: #99aa99;
   color: #ffffff;
   font-weight: bold;
}

td {
   background-color: #ddeedd;
}

tr:nth-child(2n+1) td {
   background-color: #ccddcc;
}

tr.selected td {
   background-color: #ddeeee;
}

td.name, td.status {
   white-space: nowrap;
}

td.status {
   text-align: center;
}

td.status .loading {
   padding-right: 0.2em;
   border: none;
   width: 16px;
   height: 16px;
}

td.NG, td.build-NG {
   background-color: #eeddee ! important;
}

td.test {
   text-align: right;
}

.status_window {
   margin-top: 0.5em;
   margin-bottom: 2em;
   border: solid #99aa99 4px;
   background-color: #ddeedd;
}

.status_header {
   font-size: 80%;
}

.status_header ul {
   display: inline-block;
   list-style-type: none;
   margin: 0;
}

.status_header > ul {
   padding: 0.5em 0.5em 0 0.5em;
}

.status_header ul li {
   display: inline-block;
   margin: 0 1em 0 0;
}

.status_toolbar {
   float: left;
}

.status_tabbar {
   float: right;
}

.status_tabbar_button {
   line-height: 100%;
   padding: 0.5em;
}

.status_tabbar_button.selected {
   background-color: #eefff5;
   -moz-border-radius-topleft:      6px;
   -moz-border-radius-topright:     6px;
   -webkit-border-top-left-radius:  6px;
   -webkit-border-top-right-radius: 6px;
   border-top-left-radius:          6px;
   border-top-right-radius:         6px;
}

.status_view {
   clear: both;
   padding: 0.5em 1em;
   background-color: #eefff5;
   -moz-border-radius-topleft:      6px;
   -moz-border-radius-topright:     6px;
   -webkit-border-top-left-radius:  6px;
   -webkit-border-top-right-radius: 6px;
   border-top-left-radius:          6px;
   border-top-right-radius:         6px;
}

.log_msg dd.message {
   color: #ee5577;
}

.log_msg pre {
   margin: 0;
}

.testcase .failed {
   color: #ee5577;
}

table.file_browser {
   margin: 0;
}
table.file_browser th,
table.file_browser td {
   border-bottom: solid #99aa99 1px;
}
table.file_browser tr:last-child td {
   border-bottom-style: none;
}
table.file_browser th,
table.file_browser td {
   background-color: inherit;
}
table.file_browser th {
   color: inherit;
   text-align: left;
}
table.file_browser .icon {
   width: 1.5em;
   height: 1.5em;
}
table.file_browser .size {
   white-space: nowrap;
   text-align: right;
   width: 4em;
}
table.file_browser .time {
   white-space: nowrap;
   text-align: right;
   width: 4em;
}
ul.status_toolbar ul.breadcrums {
   padding: 0.5em 0.5em 0 0.5em;
}
ul.status_toolbar ul.breadcrums li {
   margin-right: 0.5em;
}
ul.status_toolbar ul.breadcrums li:after {
   margin-left: 0.5em;
   content: "/"
}
ul.status_toolbar ul.breadcrums li:last-child:after {
   content: none
}
.file_browser.file {
   background-color: #000000;
   color: white;
   padding: 0.5em;
   -moz-border-radius:    8px;
   -webkit-border-radius: 8px;
   border-radius:         8px;
}
.file_browser.file td {
   border-bottom-style: none;
   vertical-align: top;
}
.file_browser.file pre {
   margin: 0;
}
.file_browser.file .linenumber {
   text-align: right;
   margin: 0;
   padding: 0 0.4em 0 0;
   width: 1.5em;
}
.file_browser.file .linenumber pre {
   width: 1.5em;
   color: gray;
}
.file_browser.file .content {
   margin: 0;
   padding: 0;
}

ul
{
   margin: 0;
}

ul#selector
{
   display: inline;
   list-style-type: none;
   margin: 0;
   padding: 0 .5em;
}

ul#selector li
{
   display: inline;
   margin-left: 0;
}

#selector a
{
   font-weight: bold;
   padding: 0.3em;
   margin: 1em;
}

#selector a:visited
{
   color: darkblue;
}

#selector a:visited:hover
{
   background-color: #e0e0ff;
   outline-color: blue;
}

#selector .selected a,
#selector .selected a:hover,
#selector .selected a:active,
#selector .selected a:link,
#selector .selected a:visited
{
   color: white;
   background-color: gray;
   text-decoration: none;
   outline: none;
   -moz-border-radius:    4px;
   -webkit-border-radius: 4px;
   border-radius:         4px;
}

div#list_view
{
   column-count: 3;
   -moz-column-count: 3;
   -webkit-column-count: 3;
}

ul#ex, ul#ex ul
{
   display: inline;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul#ex li
{
   margin: 0 3em;
}

ul#ex li ul li
{
   margin: 0 1em;
}

#selected_report
{
   font-weight: bold;
   color: #ee5577;
}

.option
{
   color: blue;
}

#fatalerror ul {
   margin-bottom: 3em;
}
