.comments .message {
   color: #333333;
}

.comments .message h1 {
   margin-top: 0.5em;
   font-size: 150%;
   font-weight: bold;
   border-bottom: 1px solid #333333;
}

.comments .message blockquote {
   margin: 1em;
   padding: 0 1em 0 1em;
   border: 1px solid #333333;
}

.comments .message em {
   color: inherit ! important;
}

td.status {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

td.status .notify {
    position: relative;
    display: block;
    float: left;
    width: 0;
    height: 16px;
}

.unread {
    position: absolute;
    top: 8px;
    left: -15px;
    display: inline-block;;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}

.unread .base,
.unread .text {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.unread .base {
    color: #d01;
}

.unread .text {
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.star {
    position: absolute;
    top: -7px;
    left: -15px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}

.star .base,
.star .colored {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.star .base {
    color: gold;
}

.star .colored {
    color: gray;
}
