RewriteEngine on
RewriteRule ^.*$ %{REQUEST_URI}&dummy= [C]
RewriteRule ^(.*?)/browse/([^/]+)/([^/]+)/(.+)&dummy=.*$ $1/api/browse.cgi?user=$2&report=$3&path=$4 [L,QSA]
RewriteRule ^(.*)&dummy=$ $1 [R=404]
